[submodule "plum-backend"]
	path = plum-backend
	url = https://github.com/catonzio/plum-backend.git
[submodule "plum-frontend"]
	path = plum-frontend
	url = https://github.com/catonzio/plum-backend.githttps://github.com/catonzio/plum-frontend.git
